body {
  width: 980px;
  margin: auto;
  background-color: #f4f4d7;
}

p, button, body, .trivia, .question {
  font-size: 138%;
  line-height: 150%;
}

h1 {
  font-weight: bold;
}

form {
  font-size: 100%;
}

button {
  background-color: #6b6;
  width: 350px;
  margin: auto;
  padding: 10px 10px 10px 10px;
  margin-right: 100px;
  margin-top: 18px;
  float: left;
  border: none;
  border-radius: 35px;
}

input[type='radio'] { 
  transform: scale(2);
}

#timer {
  font-size: 138%;
  padding: 25px 25px 25px 25px;
  margin: 10px 0px 10px 0px;
  background-color: #222;
  color: #6b6;
  font-weight: bold;
}

#trivia {
  padding-top: 165px;
  float: none;
}

#head-board {
  position: fixed;
  padding-bottom: 25px;
  width: 980px;
  top: 0px;
  background-color: #f4f4d7;
  opacity: 1;
  z-index: 1;
}